#Ignore compiled files for simplicity.
tesisCICESE.acn
tesisCICESE.aux
tesisCICESE.bbl
tesisCICESE.blg
tesisCICESE.bbl
tesisCICESE.glo
tesisCICESE.ist
tesisCICESE.lof
tesisCICESE.log
tesisCICESE.lot
tesisCICESE.out
tesisCICESE.pdf
tesisCICESE.toc